*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

.background-container{
    margin-top: 9%;  
}
.m-container{
        text-align: center; 
        margin-top: 12%;
}


/* done eddited */

/* look out for the font weight */
 .message{
    margin-left: 0%;
    margin-top: 3%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
 }
.message2{
    margin-top: 3%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
.message4{
    color: white;
    margin-top: 2%;
}
/* done eddited */

/* upto here */
#about-us{
    margin-top: 5%;
    margin-left: 45%;
}
.about{
    text-align: center;
}
/* done edditted */

.card-img-overlay{
    text-align: center;
    margin-top: 7%;
    overflow-x: hidden;
}

.h-container{
    margin-top: 3%;
    text-align: center;
}
.wd-container{
    margin-top: 4%;
    text-align: center;
    margin-left: 2%;
}
.project{
    display: none;
}
.development{
    display: none;
}
.planning{
    display: none;
}

/* PORTFOLIO */
.topic{
    text-align: center;
    margin-top: 5%;
}
.firstRow{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}
.secondRow{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}
p.card-text-1{
    border: 3px solid white;
    height: 200px;
    width: 100%; 
    background-color: rgba(0,0,0,0.8);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    display: none;
}
p.card-text-2{
    border: 3px solid white;
    height: 200px;
    width: 100%; 
    background-color: rgba(0,0,0,0.8);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    display: none;
}
p.card-text-3{
    border: 3px solid white;
    height: 200px;
    width: 100%; 
    background-color: rgba(0,0,0,0.8);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    display: none;
}
p.card-text-4{
    border: 3px solid white;
    height: 200px;
    width: 100%; 
    background-color: rgba(0,0,0,0.8);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    display: none;
}
p.card-text-5{
    border: 3px solid white;
    height: 200px;
    width: 100%; 
    background-color: rgba(0,0,0,0.8);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    display: none;
}
p.card-text-6{
    border: 3px solid white;
    height: 200px;
    width: 100%; 
    background-color: rgba(0,0,0,0.8);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    display: none;
}p.card-text-7{
    border: 3px solid white;
    height: 200px;
    width: 100%; 
    background-color: rgba(0,0,0,0.8);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    display: none;
}p.card-text-8{
    border: 3px solid white;
    height: 200px;
    width: 100%; 
    background-color: rgba(0,0,0,0.8);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    display: none;
}
/* contacts */
.contacts{
    margin-top: 2%;
}
.form-floating-1{
    margin-top: 2%;
    width: 40%;
    margin-left: 30%;

}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  form.row.g-3{
      width: 60%;
    margin-left: 20%;
  }
  input#inputEmail4.form-control{
      background: rgba(0,0,0,0.2);
    border: 1px solid white;
    color: white;
  }
  input#inputPassword4.form-control{
    background: rgba(0,0,0,0.2);
    border: 1px solid white; 
    color: white;
  }
  textarea#floatingTextarea.form-control{
    background: rgba(0,0,0,0.2);
    border: 1px solid white;
    color: white;
  }
/* socials  */
.socials{
    margin-left: 30%;
    margin-top: 3%;
}
p.last-text{
    text-align: center;
}
.newsletter{
    margin-left: 30%;
}